.home {
	background-image: url("../../images/SaifBAckGround.jpg");
	height: 71rem;
	width: 100%;
	object-fit: cover;
	background-size: cover;
	background-position: fixed;
	background-repeat: no-repeat;
}

.homecon {
	margin-left: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* position: relative;
	top: 50px; */
}

.homecon button {
	background: #c33764; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1d2671, #c33764);
	background: linear-gradient(to right, #1d2671, #c33764);
	border-radius: 5px;
	padding: 11px 31px;
	color: white;
	border: none;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 8px;
	display: table-cell;
	vertical-align: middle;
}

.homecon h1 {
	margin-bottom: 10px;
	color: white;
}

.homecon p {
	width: 600px;
	color: #ddcbcb;
	line-height: 1.5;
}

.two {
	display: flex;
	align-items: center;
	position: relative;
	top: 90px;
}

.two .icon {
	color: white;
	font-size: 30px;
}

.two a {
	color: white;
	letter-spacing: 1.2px;
	font-size: 20px;
	font-weight: bold;
}
.homeImage {
	height: 455px;
	width: 450px;
	animation: seif 5s infinite;
	position: relative;
	top: 20px;
}

@keyframes seif {
	25% {
		transform: translateY(8px);
	}
	50% {
		transform: translateY(-5px);
	}
	75% {
		transform: translateY(10px);
	}
}

/* media qurey */
@media (min-width: 350px) and (max-width: 767px) {
	.homecon {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: -38px;
	}
	.homeText {
		/* width: 400px; */
		/* height: 200px; */
		font-size: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.homeText p {
		width: 300px;
		letter-spacing: 0.5px;
	}
	.homeText button {
		width: 274px;
	}
	.homeText .h1Text {
		font-size: 46px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.two {
		display: flex;
		position: initial;
	}
	.homeImage {
		height: 267px;
		width: 300px;
	}
}

@media (min-width: 767px) and (max-width: 1023px) {
	.homecon {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: -38px;
		width: 100%;
	}
	.homeText {
		/* width: 400px; */
		/* height: 200px; */
		font-size: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.homeText p {
		width: 300px;
		letter-spacing: 0.5px;
	}
	.homeText button {
		width: 274px;
	}
	.homeText .h1Text {
		font-size: 46px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.two {
		display: flex;
		position: initial;
	}
	.homeImage {
		height: 267px;
		width: 310px;
	}
}
